basePath: /api
definitions:
  dto.AuthData:
    properties:
      expires_at:
        description: 有效期，24h
        type: integer
      token:
        description: JWT Token
        type: string
      user:
        allOf:
        - $ref: '#/definitions/dto.CommonUserData'
        description: 用户
    type: object
  dto.CommonUserData:
    properties:
      group:
        description: 权限组
        type: string
      head_image_path:
        description: 头像路径
        type: string
      select_coin:
        description: 抽卡货币
        type: integer
      strength_coin:
        description: 强化货币
        type: integer
      user_id:
        description: 用户ID
        type: integer
      username:
        description: 用户名
        type: string
    type: object
  dto.LoginRequest:
    description: 登录信息
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  dto.RegisterRequest:
    description: 注册信息
    properties:
      password:
        maxLength: 25
        minLength: 6
        type: string
      username:
        maxLength: 20
        minLength: 3
        type: string
    required:
    - password
    - username
    type: object
  dto.Response:
    description: 通用响应结构体
    properties:
      code:
        description: http状态码
        type: integer
      data:
        description: 根据具体数据来定类型
      message:
        description: 返回的消息
        type: string
    type: object
  dto.UpdatePasswordRequest:
    description: 修改密码
    properties:
      new_password:
        maxLength: 25
        minLength: 6
        type: string
      old_password:
        type: string
    required:
    - new_password
    - old_password
    type: object
  dto.UpdateUsernameRequest:
    description: 修改用户名
    properties:
      new_username:
        maxLength: 20
        minLength: 3
        type: string
    required:
    - new_username
    type: object
host: localhost:8080
info:
  contact:
    email: 13930176445@163.com
    name: FireChickenMP4
  description: MuXiShooter
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms
  title: MuXiShooter
  version: "1.0"
paths:
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: 用户登录
      parameters:
      - description: 注册请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            allOf:
            - $ref: '#/definitions/dto.Response'
            - properties:
                data:
                  $ref: '#/definitions/dto.AuthData'
              type: object
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/dto.Response'
        "403":
          description: 认证失败
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 用户登录
      tags:
      - auth
  /api/auth/register:
    post:
      consumes:
      - application/json
      description: 注册用户
      parameters:
      - description: 注册请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 注册成功
          schema:
            allOf:
            - $ref: '#/definitions/dto.Response'
            - properties:
                data:
                  $ref: '#/definitions/dto.AuthData'
              type: object
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/dto.Response'
        "409":
          description: 用户已存在
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 用户注册
      tags:
      - auth
  /api/profile/operation/logout:
    get:
      description: 用户登出（token版号增加一）
      produces:
      - application/json
      responses:
        "200":
          description: 登出成功
          schema:
            $ref: '#/definitions/dto.Response'
        "401":
          description: 用户不存在
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 用户登出（token版号增加一）
      tags:
      - profile-operation
  /api/profile/update/headimage:
    put:
      consumes:
      - multipart/form-data
      description: 修改用户头像
      parameters:
      - description: 新头像
        in: formData
        name: new_head_image
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功
          schema:
            $ref: '#/definitions/dto.Response'
        "400":
          description: 头像为空
          schema:
            $ref: '#/definitions/dto.Response'
        "401":
          description: 登录状态异常
          schema:
            $ref: '#/definitions/dto.Response'
        "403":
          description: 认证失败
          schema:
            $ref: '#/definitions/dto.Response'
        "404":
          description: 用户不存在
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 修改用户头像
      tags:
      - profile-update
  /api/profile/update/password:
    put:
      consumes:
      - application/json
      description: 修改用户密码(修改完前端请删掉token并跳转登录页面)
      parameters:
      - description: 修改密码请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UpdatePasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 修改密码成功
          schema:
            $ref: '#/definitions/dto.Response'
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/dto.Response'
        "401":
          description: 登录状态异常
          schema:
            $ref: '#/definitions/dto.Response'
        "403":
          description: 认证失败
          schema:
            $ref: '#/definitions/dto.Response'
        "404":
          description: 用户不存在
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 修改用户密码
      tags:
      - profile-update
  /api/profile/update/username:
    put:
      consumes:
      - application/json
      description: 修改用户名
      parameters:
      - description: 修改用户名请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateUsernameRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 修改用户名成功
          schema:
            $ref: '#/definitions/dto.Response'
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/dto.Response'
        "401":
          description: 登录状态异常
          schema:
            $ref: '#/definitions/dto.Response'
        "403":
          description: 认证失败
          schema:
            $ref: '#/definitions/dto.Response'
        "404":
          description: 用户不存在
          schema:
            $ref: '#/definitions/dto.Response'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/dto.Response'
      summary: 修改用户名
      tags:
      - profile-update
swagger: "2.0"
